[defaults]
ansible_managed = Ansible Managed
inventory       = ./ansible_inventory

remote_user     = ansible
ask_pass        = false
sudo_user       = ansible
ask_sudo_pass   = false

interpreter_python = auto_silent
